body  {
  color: rgb(253, 253, 253);
  background-color: #181818 !important;
  font-family: monospace;
}
.tooltip-inner {
  max-width: 150px;
  font-size: 1.2vw;
}
button {
  background-color: rgb(255, 255, 255);
}

/* leftside - user info */
.dash-user-topside  {
  width: 19vw;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 10%;
}
.dash-user-inside {
  margin-left: 4vw;
}
.dash-user-inside i {
  font-size: 7vw;
  padding-bottom: 2vw;
  margin-left: 2vw;
}
.dashboard-info p{
  font-size: 1.5vw;
}
.dash-chart{
  padding-top: 10%;
  padding-left: 5%;
}
.dash-change{
  line-height: 4vw;
  text-align: center
}
.dash-change a{
  text-decoration: none;
  color: #FFF;
}
.dash-change i{
  font-size: 1.5vw;
}
.dash-change i:hover {
  font-size: 2.5vw;
}
.dash-change p{
  margin-bottom: 0;
}
#myChart {
    max-height: 500px;
    width: 100%;
    min-height: 150px;
  }

  #myChart-license-text {
    display: none;
    /* force to display none text */
  }

  #myChart-menu-trigger-gear-path {
    fill: #FFF;
  }
  
  /* check side */
  .dash-get {
    padding-top: 7%; 
  }
  .dash-get-icon {
    margin-left: 7vw;
    padding-bottom: 5vw;
  }
  .dash-get-icon img{
    width: 7.5vw;
    height: auto;
    padding: 0 1vw;
  }
  .dash-get h5{
    font-size: 2.5vw;
  }
  .dash-get h3{
    font-size: 4vw;
  }
  .dash-get button {
    background-color: rgb(255, 255, 255);
    font-size: 2.5vw;
    width: 4vw;
    height: 4vw;
    border-radius: 7px;
  }
  .dash-get button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .get-typepart{
    padding-top: 4vw; 
  }
  .get-typepart textarea{
    width: 20vw;
    border-radius: 4px ;
    padding-top: 0.5vw;
  }
  .dash-getsave-btn {
    padding-top: 3vw;
  }
  .get-apiresult {
    text-align: center;
  }
  .get-apiresult h3{
    padding-bottom: 2vw;
    padding-top: 2vw;
  }


  /* burn side */
  select {
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(255, 255, 255);
    font-size: 1.5vw;
    text-align: center;
    color: #000000;
    font-family: monospace;
    height: 3.5vw;
  }
  select:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor:pointer;
  }

  .dash-burn {
    padding-top: 7%;
  }
  .dash-burn-icon {
    margin-left: 7vw;
    padding-bottom: 5vw;
  }
  .dash-burn-icon img{
    width: 7.5vw;
    height: auto;
    padding: 0 1vw;
  }

  .dash-exe-result {
    text-align: center;
    height: 180px;
  }
  .dash-exe-result h3{
    padding-bottom: 35px;
    font-size: 4vw;
  }
  .dash-burn-leftside{
    padding-top: 5vw;
  }
  .select-items {
    padding: 0 0 3vw 0;
  }
  .result-button {
    margin: 0 2vw 0 0;
  }
  .result-button button {
    background-color: rgb(255, 255, 255);
    font-size: 2.5vw;
    width: 4vw;
    height: 4vw;
    border-radius: 7px;
  }
  .result-button>button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  /* burn side */


